<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="style.css" />
		<title>Layout</title>
	</head>
	<body>
		<div class="contenedor">
			<header>
				<h2>Esto es un header</h2>
			</header>
			<section class="main">
				<article>
					<h1>Titulo</h1>
					<p>
						Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet
						voluptatem nihil in similique vitae ipsa quae quibusdam dolore
						dolorem exercitationem incidunt reprehenderit vel perspiciatis,
						possimus fugiat deleniti cum id enim. Quidem doloremque distinctio
						doloribus necessitatibus commodi illum facilis aut eaque, placeat
						adipisci, inventore voluptates repellat, veniam deleniti. Eum quas
						sequi dolor ut veniam voluptatibus, ex consectetur? Beatae repellat
						non iure! Culpa saepe iusto reprehenderit quidem molestiae ipsa rem
						quos non eius, nihil soluta nobis ea eveniet sequi laboriosam
						tenetur vitae! Adipisci nostrum voluptate ex impedit fugit
						praesentium ratione perspiciatis mollitia. Ipsum, minus!
						Perspiciatis fugit illum nemo delectus blanditiis incidunt est sit
						officiis architecto rerum qui alias voluptas adipisci, dolore
						expedita beatae, mollitia, vero rem amet voluptatum assumenda
						aspernatur a iure! Rem a, veniam incidunt ipsum iusto sequi, aliquid
						ad reiciendis error perferendis odio beatae id rerum, deleniti quas
						quo saepe dolorum et eaque quod est accusamus. Molestias voluptatem
						cum quos.
					</p>
				</article>
			</section>
			<aside>
				<h3>Sidebar</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut tempora
					obcaecati maxime vitae nisi quasi sit voluptatum libero aut
					reprehenderit aliquam inventore minima blanditiis omnis perferendis,
					odit ipsa vel! Possimus. Nam, inventore. Aliquid quae, illo,
					voluptatem, dicta unde hic saepe aut consequuntur fugit libero
					accusantium. Eveniet optio eius dolorem, error dolorum maiores vero
					voluptate nesciunt repellendus. Doloremque maiores reiciendis natus.
					Non expedita praesentium veniam perspiciatis, error voluptatum odio,
					placeat asperiores labore accusamus optio ab officia. Illo temporibus
					quia nesciunt asperiores, impedit minima sed tempore. Veniam tempora
					commodi voluptatum! Ex, vel! Dicta placeat aliquid a laboriosam autem
					ab facilis sed architecto sequi necessitatibus mollitia, facere
					sapiente, nam libero harum, reiciendis quibusdam odit voluptates hic
					excepturi rerum commodi recusandae accusantium eos. Modi!
				</p>
			</aside>
			<footer>
				<p>Pastelitos</p>
			</footer>
		</div>
	</body>
</html>
